.invoiceList-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f9fa;
  margin: 10px 0;
  border-radius: 8px;
  flex-direction: row;

  & > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

#invoice-creation-dialog::backdrop {
  background: #000;
  opacity: 0.75;
}

#invoice-creation-dialog {
  z-index: 10;
  overflow: visible;
}

.invoice-creation-dialog-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.InvoiceList-filter {
  margin: 20px 0;
  display: flex;

  & .InvoiceList-filter-customer {
    width: 200px;
    display: flex;
    gap: 10px;
  }

  & .InvoiceList-filter-date {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}
